.qitw_col {
      display: flex;
      justify-content: space-between;
          align-items: center;
}
.qitw_tag {
  background-color: #f9f9f9;
    border-radius: 4px;
    color: #717171;
    line-height: 12px;
    margin: 3px !important;
    padding: 6px;
    text-transform: capitalize;
}
.ui.cards>.card, .custom_card_addquestion.card{
    border-radius: 0 !important;
	box-shadow: 0 0 10px 0 rgba(110,110,110,0.5);
      width: 100%;

    margin-bottom: 10px;
}

.qitw_tag_parent{
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
    margin-top: 5px;

}
/* .ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before
{
  background-color: #1E8FE1 !important;
} */

.ui.checkbox input:indeterminate~.box:after, .ui.checkbox input:indeterminate~label:after {
    font-size: 12px;
    content: '\E801';
    background: #6077F7;
}

.ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before {
    background: none;
    border: 1px solid #6077F7;
}

.custom_radio_toogle {
  margin: 5px;
}

.custom_toogle_group {
  display: flex;
  align-items: center;
}
.custom_panel{
  display: flex;
justify-content: space-between;
margin-bottom: 22px;
align-items: center;
}

.custom_panel > p {
  margin: 0;
}
.custom_radio_toogle_label {	height: 14px;	width: 38px;	color: #4A4A4A;	font-family: Avenir;	font-size: 10px;	font-weight: 300;	letter-spacing: -0.34px;	line-height: 14px;}
.choose-your-level-to {	height: 20px;	width: 266px;	color: #4A4A4A;	font-family: Avenir;	font-size: 15px;	letter-spacing: -0.45px;	line-height: 20px;}
.custom_react_App{
      max-width: 500px;
      padding: 20px;
    margin: auto;
    /* margin-top: 100px; */
}

.what-the-differen {
  		width: 284px;	color: #4A4A4A;	font-family: Avenir;	font-size: 16px;	font-weight: 300;	letter-spacing: -0.39px;	line-height: 22px;
  }

.answer-more-similar {
    color: #FFFFFF !important;
    font-family: Avenir !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    letter-spacing: -0.45px !important;
    line-height: 20px !important;
    text-align: center !important;
    background: #6077F7 !important;
    height: 39px;
width: 100%;
margin-top: 20px;
}

.custom_brandName{
  	width: 123px;	color: #9B9B9B;	font-family: Avenir;	font-size: 15px;	font-weight: 500;	letter-spacing: -0.45px;	line-height: 20px;
}


.custom_header_panel{
  display: flex;
justify-content: space-between;
align-items: center;
}
.we-found-questi {	height: 19px;	width: 363px;	color: #4A4A4A;	font-family: Avenir;	font-size: 14px;	font-weight: 300;	letter-spacing: -0.42px;	line-height: 19px;}
.custom_hightlengthed_text{
  background: #6077F7;
  color: white;
  text-transform: capitalize;
  border-radius: 14px;
  padding: 5px;
  margin: 3px;
}
.custom_number_text{
  padding: 2px;
  font-weight: 500;
}
.custom_question_text_hi{
  display: flex;
  margin-bottom: 22px;
}
.custom_check_your_anser{
  width: 129px;
  color: #6077F7 !important;
  font-family: Avenir;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: -0.31px;
  line-height: 18px;
  text-align: center;
  border: 1px solid;
  border-radius: 4px;
  padding: 5px;

}
.custom_upvotes {	height: 10px;		color: #6077F7;	font-family: Avenir;	font-size: 10px;	font-weight: 300;	letter-spacing: -0.34px;	line-height: 10px;
}

.custom_downvotes {	height: 10px;		color: #9B9B9B;	font-family: Avenir;	font-size: 10px;	font-weight: 300;	letter-spacing: -0.34px;	line-height: 10px;}
.posted-on-date {	height: 14px;	color: #9B9B9B;	font-family: Avenir;	font-size: 10px;	font-weight: 300;	letter-spacing: -0.48px;	line-height: 14px;}
.custom_options_radio {
  margin-right: 20px;
}


.custom_options_radio label {	color: #4A4A4A;	font-family: Avenir;	font-size: 13px;	font-weight: 300;	letter-spacing: -0.31px;	line-height: 18px;}
.custom_source_text{
  font-size: 10px;
}
